{% import 'macros.html' as macros %}
{% extends 'base.html' %}
{% block title %}Admin Panel{% endblock %}
{% block statics %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/admin.css')}}" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}
{% block content %}
    <header>
        <h1>Eilanden Project</h1>
        <span>Welkom {{user.username}}, <a href="./logout">Uitloggen</a></span>
    </header>
    <section id="sidebar">
        <span class="option active" id="objects">Objecten</span>
        <span class="option" id="categories">Categorieen</span>
        <span class="option" id="eilanden">Eilanden</span>
        <span class="option" id="users">Users</span>
    </section>
    <section id="container">
        {# For some reason this fixes the includes not having access to macros #}
        {{ macros }} 

        <div class="tab active" id="objects">
            <h1>Objecten</h1>
            {% include 'forms/add_object.html' %}
            {% include 'forms/modify_object.html' %}
        </div>
        <div class="tab" id="categories">
            <h1>Categorieen</h1>
            {% include 'forms/add_category.html' %}
            {% include 'forms/modify_category.html' %}
        </div>
        <div class="tab" id="eilanden">
            <h1>Eilanden</h1>
            {% include 'forms/modify_island.html' %}
        </div>
        <div class="tab" id="users">
            <h1>Users</h1>
            {% include 'forms/add_user.html' %}
            {% include 'forms/modify_user.html' %}
        </div>
    </section>
{% endblock %}
{% block footer %}
    <script src="{{url_for('static', filename='js/admin.js')}}"></script>
{% endblock %}
