{% import 'macros.html' as macros %}
{% extends 'base.html' %}
{% block title %}Admin Panel Login{% endblock %}
{% block statics %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/admin.css')}}" />
{% endblock %}
{%block content %}
    <div id="login">
        <h1>Het Eilanden Project</h1>
        <form action="" method="POST" name="login">
            {{ form.csrf_token }}
            {{ macros.inputl(form.username) }}
            {{ macros.inputl(form.password) }}
            <input type="submit" value="Inloggen">
        </form>
    </div>
{% endblock %}
