    <div id="add_category">
        <h2>Nieuwe categorie toevoegen</h2>
        <form action="{{ url_for('admin_panel.add_category') }}" method="POST" name="add_category" enctype="multipart/form-data">
            {{ add_cat_form.csrf_token }}
            {{ macros.input(add_cat_form.name) }}
            <!-- {{ macros.input(add_cat_form.desc) }} -->
            {{ macros.input(add_cat_form.img) }}
            {{ add_cat_form.submit }}
        </form>
    </div>
