    <div id="add_object">
        <h2>Nieuw object toevoegen</h2>
        <form action="{{ url_for('admin_panel.add_object') }}" method="POST" name="add_object" enctype="multipart/form-data">
            {{ add_object_form.csrf_token }}
            {{ macros.input(add_object_form.name) }}
            {{ macros.input(add_object_form.desc) }}
            {{ macros.input(add_object_form.img) }}
            {{ macros.input(add_object_form.date_from) }}
            {{ macros.input(add_object_form.date_to) }}
            {{ macros.input(add_object_form.always) }}
            {{ macros.input(add_object_form.category) }}
            {{ macros.input(add_object_form.island) }}
            {{ add_object_form.submit }}
        </form>
    </div>
