    <div id="add_user">
        <h2>Nieuw gebruiker toevoegen</h2>
        <form action="{{ url_for('admin_panel.add_user') }}" method="POST" name="add_user">
            {{ add_object_form.csrf_token }}
            {{ macros.input(add_user_form.username) }}
            {{ macros.input(add_user_form.password) }}
            {{ add_user_form.submit }}
        </form>
    </div>
