    <div id="modify_user">
        <h2>Gebruiker aanpassen</h2>
        <form action="{{ url_for('admin_panel.modify_user') }}" method="POST" name="modify_user">
            {{ mod_object_form.csrf_token }}
            {{ macros.input(mod_user_form.user) }}
            {{ macros.input(mod_user_form.username) }}
            {{ macros.input(mod_user_form.password) }}
            {{ mod_user_form.submit }}
            {{ mod_user_form.remove }}
        </form>
    </div>
