    <div id="modify_object">
        <h2>Bestaand object aanpassen</h2>
        <form action="{{ url_for('admin_panel.modify_object') }}" method="POST" name="modify_object" enctype="multipart/form-data">
            {{ mod_object_form.csrf_token }}
            {{ macros.input(mod_object_form.name) }}
            {{ macros.input(mod_object_form.new_name) }}
            {{ macros.input(mod_object_form.desc) }}
            {{ macros.input_img(mod_object_form.img) }}
            {{ macros.input(mod_object_form.date_from) }}
            {{ macros.input(mod_object_form.date_to) }}
            {{ macros.input(mod_object_form.always) }}
            {{ macros.input(mod_object_form.category) }}
            {{ macros.input(mod_object_form.island) }}
            {{ mod_object_form.submit }}
            {{ mod_object_form.remove }}
        </form>
    </div>
