    <div id="modify_category">
        <h2>Bestaande categorie aanpassen</h2>
        <form action="{{ url_for('admin_panel.modify_category') }}" method="POST" name="modify_category" enctype="multipart/form-data">
            {{ mod_cat_form.csrf_token }}
            {{ macros.input(mod_cat_form.category) }}
            {{ macros.input(mod_cat_form.name) }}
            <!-- {{ macros.input(mod_cat_form.desc) }} -->
            {{ macros.input(mod_cat_form.img) }}
            {{ mod_cat_form.submit }}
            {{ mod_cat_form.remove }}
        </form>
    </div>
