    <div id="modify_island">
        <h2>Eiland aanpassen</h2>
        <form action="{{ url_for('admin_panel.modify_island') }}" method="POST" name="modify_island" enctype="multipart/form-data">
            {{ mod_isl_form.csrf_token }}
            {{ macros.input(mod_isl_form.island) }}
            {{ macros.input(mod_isl_form.desc) }}
            {{ macros.input(mod_isl_form.img) }}
            {{ macros.input(mod_isl_form.car) }}
            {{ macros.input(mod_isl_form.airplane) }}
            {{ macros.input(mod_isl_form.color) }}
            {{ mod_isl_form.submit }}
        </form>
    </div>
