*, html {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
html {
    width: 100%;
    height: 100%;
}
body, html {
    margin: 0;
    padding: 0;
    background: #34495e;
}

/* Topbar  */
header {
    position: fixed;
    width: 100%;
    height: 50px;
    line-height: 50px;
    top: 0;
    left: 0;
    background: #27ae60;
    color: #ecf0f1;
    z-index: 5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
header h1 {
    position: absolute;
    margin: 0;
    left: 20px;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    font-weight: 300;
}
header span {
    position: absolute;
    right: 20px;
    /* top: 50%; */
    /* transform: translateY(-50%); */
}
header span a {
    padding: 15px 5px;
    transition-duration: .2s;
    color: #ecf0f1;
    text-decoration: none;
}
header span a:hover {
    background: #2ecc71;
}

/* Sidebar  */
/* Colors:
 * Dark grey:   #2c3e50
 * Light Grey:  #34495e
 */
section#sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 200px;
    height: calc(100% - 50px);
    background: #2c3e50;
    display: flex;
    flex-direction: column;
    z-index: 6;
}
section#sidebar .option {
    width: 100%;
    padding: 20px;
    color: #bdc3c7;
    transition-duration: .2s;
    cursor: pointer;
    position: relative;
}
section#sidebar .option:hover,
section#sidebar .option.active {
    background: #34495e;
    color: #ecf0f1;
    padding-left: 40px;
}
section#sidebar .option:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 0px;
    height: 100%;
    background: #27ae60;
    transition-duration: .2s;
}
section#sidebar .option.active:after {
    width: 10px;
}


/* Container  */
section#container {
    position: absolute;
    right: 100px;
    top: 110px;
    width: calc(100% - 400px);
    max-width: 1500px;
    background: #ecf0f1;
    box-shadow: 0px 0px 20px #2c3e50;
    margin-bottom: 60px;
}
section#container div.tab {
    display: none;
}
section#container div.tab.active {
    display: block;
}
section#container div.tab h1 {
    color: #ecf0f1;
    background: #2c3e50;
    margin: 0px 0px 10px 0px;
    padding: 15px 50px;
    border-bottom: 2px solid #bdc3c7;
    font-weight: 300;
    font-size: 1.7em;
}
section#container div.tab h2 {
    color: #34495e;
    padding: 5px 50px;
    font-size: 1.5em;
    border-bottom: 2px solid #bdc3c7;
    font-weight: 300;
}

section#container .form-field {
    padding-left: 50px;
    display: flex;
    font-size: 1.1em;
    color: #7f8c8d;
    font-weight: 300;
    margin-bottom: 5px;
    padding: 3px 3px 3px 20px;
}
section#container .form-field .form-label {
    flex: 0 33.333333%;
    padding-left: 30px;
}
section#container .form-field .form-data {
    flex: 1;
}
section#container .form-field .form-data input[type="password"],
section#container .form-field .form-data input[type="text"]{
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #bdc3c7;
    color: #95a5a6;
}
section#container .form-field .form-data textarea {
    padding: 5px;
    border-radius: 2px;
    border: 1px solid rgb(189, 195, 199);
    color: rgb(149, 165, 166);
    width: 50%;
    height: 100px;
    margin: 0px;
}
section#container input[type="submit"] {
    margin-left: 50px;
    padding: 7px 15px;
    background: #2ecc71;
    border: 1px solid #27ae60;
    border-radius: 1px;
    color: #ecf0f1;
    cursor: pointer;
    transition-duration: .2s;
}
section#container input[type="submit"]:hover {
    background: #27ae60;
}
section#container .form-field .form-data input,
section#container .form-field .form-data select {
    width: 50%;
}
section#container .form-field .form-data input[type="checkbox"] {
    width: initial;
}
section#container>div {
    margin-bottom: 30px;
}

section#container .form-field .form-label.img-hover {
    position: relative;
}
/* TODO: Hover for img preview
section#container .form-field .form-label.img-hover::after {
    content: "view";
    display: block;
    position: absolute;
    left: 150px;
    top: 0px;
}
section#container .form-field .form-label.img-hover:hover::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    background: red;
}
*/


/* Admin Login */
div#login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 300px;
    background: white;
    border-radius: 1px;
    text-align: center;
    box-shadow: 0px 0px 20px #2c3e50;
}
div#login input[type="submit"] {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border: none;
    background: #27ae60;
    cursor: pointer;
    font-size: 1em;
    color: #ecf0f1;
    transition-duration: .2s;
}
div#login input[type="submit"]:hover {
    background: #2ecc71;
}
div#login h1 {
    margin: 0px 0px 20px 0px;
    padding: 25px;
    background: #2c3e50;
    color: #ecf0f1;
    font-weight: 300;
}
div#login input[type="text"],
div#login input[type="password"]{
    padding: 10px 15px;
    margin: 5px 0px;
    border: none;
    border-bottom: 1px solid #95a5a6;
    transition-duration: .6s;
}
div#login input[type="text"]:focus,
div#login input[type="password"]:focus {
    border-color: #2ecc71;
    outline: none;
}



/* General */
.delete {
    background: #e74c3c !important;
    border-color: #c0392b !important;
}
.delete:hover {
    background: #c0392b !important;
}
