ul.flashes {
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    animation: moveOut 8s 1 forwards;
    animation-delay: 4s;
}


li.flash {
    color: #ecf0f1;
    background: #3498db;
    list-style: none;
    font-family: Roboto, sans-serif;
    padding: 2px;
    text-align: center;
    border-bottom: 2px solid rgba(41, 128, 185, .4);
}
li.flash.error {
    background: #e74c3c;
    border-color: #c0392b;
}


@keyframes moveOut {
    0% {
        top: 0;
    }
    100% {
        top: -200px;
    }
}
