body, html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

section#islands {
    /* padding: 0 150px; */
    /* width: 100%; */
    width: 1275px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
section#islands > svg {
    cursor: pointer;
    transition-duration: .5s;
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.4));
    z-index: 1;
    fill: #ffeead;
}
section#islands > svg:hover {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.6));
}
svg#texel {
    /* margin-top: 324px; */
    margin-top: 284px;
    transform: scale(3) rotate(10deg);
}
svg#vlieland {
    /* margin-top: 200px; */
    margin-top: 160px;
    transform: scale(3) rotate(15deg);
}
svg#terschelling {
    /* margin-top: 165px; */
    margin-top: 125px;
    transform: scale(3) rotate(18deg);
}
svg#ameland {
    /* margin-top: 250px; */
    margin-top: 210px;
    transform: scale(3) rotate(20deg);
}
svg#schiermonnikoog {
    /* margin-top: 380px; */
    margin-top: 340px;
    transform: scale(3) rotate(45deg);
}


section#clouds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4fa2d6+0,0e76b7+100 */
    background: #4fa2d6; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #4fa2d6 0%, #065b90 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #4fa2d6 0%,#065b90 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #4fa2d6 0%,#065b90 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fa2d6', endColorstr='#065b90',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
section#clouds > svg {
    position: absolute;
    z-index: 5;
    display: none;
}
