html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
*:focus {
	outline: none;
}

::-webkit-scrollbar
{
  width: 8px;  /* for vertical scrollbars */
  height: 8px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(245, 245, 245, 1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(100, 181, 246, 1);
  border-radius: 8px;
}

#content {
    height: 100%;
}
/* index */
 
.ui-datepicker .ui-datepicker-header {
    background-color: #27ae60;
}



header#home {
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    background: #27ae60;
    text-align: center;
    font-size: 2em;
    color: #ecf0f1;
    font-weight: 300;
    z-index: 10;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
header#home div#legenda {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 0.5em;
}
div#legenda span {
    padding-left: 40px;
    position: relative;
}
div#legenda span:before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    left: 10px;
    top: -3px;
}
div#legenda span:nth-of-type(1):before {
    background-color: #00ff00;
}
div#legenda span:nth-of-type(2):before {
    background-color: rgb(125, 125, 0);
}
div#legenda span:nth-of-type(3):before {
    background-color: #ff0000;
}

div#form {
    height: auto;
    width: 1000px;
	background-color: #F5F5F5;
	position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    z-index: 10;
}

div#form form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Datum shit */
div#top {
	/* margin: auto; */
    text-align: center;
    padding: 20px 0px;
    background: #27ae60;
    border-bottom: 2px solid #9cc7ae;
}
#top #datum input {
	border: none;
	border-bottom: 2px solid grey;
	padding: 10px;
	transition-duration: .3s;
	margin: 0px 10px;
    display: inline-block;
}
#top #datum input:focus {
	/* border-bottom: 2px solid #64B5F6; */
	border-bottom: 2px solid #2ecc71;
}

/* Checkbox shit */
div#bottom{
	margin: auto;
    padding: 20px;
}
#checkboxes {
	display: flex;
	justify-content: flex-start;
	flex-wrap:wrap;
	flex-flow: row wrap;
	flex-basis: auto;
	width: 700px;
}
#checkboxes div {
	position: relative;
	width: 175px;
	padding: 10px 10px 10px 30px;
}
#checkboxes div input.check {
	position: absolute;
	left: 0;
	top: 6px;
}
input.check {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;

	border: solid 2px grey;
    padding: 8px;
    border-radius: 4px;

    transition-duration: .2s;
    position: relative;
}
input.check:after {
	display: block;
	content: "";
	width: 100%;
	height: 100%;
    position: absolute;
    left: 0;
    top: 0;
	/* background: url('../img/check.png') #64B5F6 no-repeat; */
	background: url('../img/check.png') #27ae60 no-repeat;
	background-position: center;
	background-size: 80%;
	opacity: 0;
    transition-duration: .2s;
}
input.check:checked:after {
	opacity: 1;
}
input.check:checked{
	/* border: solid 2px #64B5F6; */
	border: solid 2px #27ae60;
}
input.front-submit{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 90px;
	border:none;
	background: #64B5F6 url('img/boat.png') no-repeat;
	background-position: 100px center;
	border-radius: 3px;
	padding: 10px 50px 10px 20px;
	color: white;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	transition-duration: .5s;
}
input.front-submit:hover{
	box-shadow: none;
	background-color:#64c7f6;
 
	
}
/* infopage */
header#act{
	height: 250px;
	width: 100%;
	background-color: #F5F5F5;
	transition-duration: .5s;
}
#boven{
	width: 1000px;
	height: 100%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	transition-duration: .5s;
	padding-top: 50px;
}
#kaart{
	width: 20%; 
	height: 100%;
	background: #F5F5F5; 
	float: left;


}
#title{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 5;
	top: 0;
}
#eiland-img{
	height: 190px;
	width: 190px;
    background-size: cover;
    background-position: center;
}
#info{
	width: 80%;
	height: 100%;
	background: #F5F5F5;
	float: left;
	position: relative;
}
#info #text {
	width: 90%;
	height: 100%;
	background: #F5F5F5;
	padding: 10px;
	overflow: hidden;
}
#act.more_info #text {
    overflow-y: scroll;
}
#scheiding{
	width: 100%;
	height: 20px;
	background: #64B5F6;
}
#activiteiten{
	width: 100%;
	height: calc(100% - 20px - 250px);
	background: #F5F5F5;
	overflow-y: scroll ;
	position: relative;
	padding: 10px;
	display: flex;
	justify-content: center;
	flex-wrap:wrap;
	flex-flow: row wrap;
	flex-basis: auto;
	transition-duration: .5s;
}
.container{
	height: 300px;
	width: 350px;
	background: white;
	margin: 10px;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
	position: relative;
	cursor: pointer;
	transition-duration: 0.2s;
	text-decoration: none;
	color: black;
}
.container:hover{
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
	background-color: #F5F5F5;
}
.container .icon{
	width: 50px;
	height: 50px;
	top: 0;
	left: 0;
	position: absolute;
	background-color: #64B5F6;
	box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
	border-radius: 0 0 10px 0;

}
.container .icon img{
	height: 40px;
	width: 40px;
	left: 50%;
	top:50%;
	transform:translate(-50%, -50%);
	position: absolute;
}
.container .pic{
	width: 100%;
	height: 70%;
	background: url("img/museum-texel.jpg") no-repeat; 
	background-position:center;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);

}
.container .act-title{
	height: 10%;
	width: 100%;
	background-color:#64B5F6;
	text-align: center;
	font-size: 1.5em;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}
.container .text{
	height: 20%;
	overflow: hidden;
	padding: 5px 20px 0px 20px;
    word-wrap: break-word;
}
.container .text-nopic{
	top: 20%;
	padding: 0px 20px 0px 20px;
	overflow: hidden;
	position: absolute;
    word-wrap: break-word;
}

.back-submit{
	position: absolute;
	bottom: 5px;
	right: 85px;
	border:none;
	background: #64B5F6 url('') no-repeat;
	background-position: 100px center;
	border-radius: 3px;
	padding: 10px 20px 10px 20px;
	color: white;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	transition-duration: .5s;
}
.back-submit:hover{
	box-shadow: none;
	background-color:#64c7f6;
}

.buttom-back{

 	right: 10px;
 	top: 10px;
}
.aanwezig{
	height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: #64B5F6;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin: 10px;
    position: absolute;
    top: 0;
    right: 0;


}
#Capa_1{
position: relative;
left: 50%;
transform: translateX(-50%);
top:4px;
fill: white !important;
}
.aanwezig.bottom {
	top: 100px;
}
.aanwezig.goed {
    background-color: #66f664;
}
.aanwezig.slecht {
    background-color: #f66464;
}
/*activiteitenpage Nout zn shit...
#activiteitenpage{
	background-color: #F5F5F5;
}
.wrapper{
	height: 100%;
	width: 50%;
	left: 50%;
	transform: translateX(-50%);
	position: relative;
}
/*
.home-pic{
	height: 40%;
	width: 100%;
	top: 70px;
	left: 50%;
	transform: translateX(-50%);
	background: url("img/museum-texel.jpg") no-repeat center;
	position: absolute;
}
*/
/*
.info-text{
	height: 60%;
	width: 100%;
	top: calc(40% + 70px);
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
}

.inleiding{
	text-decoration: bold;
	font-size: 2em;
}
.hoofdtext{
	text-decoration: none;
	font: 1.5em
}
*/

/* Object info pagina */
header#object_info {
    position: fixed;
    width: 100%;
    height: 50px;
    line-height: 50px;
    top: 0;
    left: 0;
    background: #27ae60;
    color: #ecf0f1;
    z-index: 5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}
header#object_info h1{
    font-weight: 300;
    position: absolute;
    left: 50%;
    top: -22px;
    transform: translateX(-50%);
}
div#object-wrapper div.headimg {
    width: 100%;
    height: 350px;
    background-position: center;
    background-size: cover;
}
div#object-wrapper div.info-text {
    width: 50%;
    min-width: 600px;
    max-width: 1200px;
    margin: 50px auto;
    padding: 15px;
    display: flex;
    word-wrap: break-word;
}
div#object-wrapper div.info-text > div:first-child{
    width: 100%;
}


/* Animations */
#act.more_info {
	height: 450px  !important;
}
#activiteiten.more_info {
	height: calc(100% - 20px - 450px);
}
