body, html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

section#islands {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-around;
    padding: 0 150px;
}
svg#texel {
    margin-top: 324px;
    transform: scale(3) rotate(10deg);
}
svg#vlieland {
    margin-top: 200px;
    transform: scale(3) rotate(15deg);
}
svg#terschelling {
    margin-top: 165px;
    transform: scale(3) rotate(18deg);
}
svg#ameland {
    margin-top: 250px;
    transform: scale(3) rotate(20deg);
}
svg#schiermonnikoog {
    margin-top: 380px;
    transform: scale(3) rotate(45deg);
}
