<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <title>{% block title %}{% endblock %} - Eilanden Project</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
        <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" /> -->
        <link rel="stylesheet" href="{{url_for('static', filename='css/flash.css')}}" />
        <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
        {% block statics %}{% endblock %}
        <script src="{{url_for('static', filename='js/script.js')}}"></script>
        {% endblock %}
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="flash {{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        {% block footer %}{% endblock %}
    </body>
</html>
