{% extends 'base.html' %}
{% block title %}Eilanden Project{% endblock %}
{% block statics %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/islands.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}
{% block content %}
    <header id="home">
        Eilanden Project
        <div id="legenda">
            Gekozen activiteiten aanwezig:
            <span>Veel</span>
            <span>Matig</span>
            <span>Weinig</span>
        </div>
    </header>
    <section id="islands">
        <svg id="texel" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
 width="45.376px" height="76.898px" viewBox="0 0 45.376 76.898" style="enable-background:new 0 0 45.376 76.898;"
 xml:space="preserve">
            <path d="M2.293,49.332c5-13,13.625-26.25,15.25-28.375s10.5-17.75,13.5-20  s5.875,4.5,7.25,5.25s-1.125,5.375,0.875,5s3.362,2.418,4.625,4.75c1.625,3,1.25,6,0,7.125s0.375,13.125-0.25,16.125  s-3.625,3.125-4.625,5s-1.375,2.5-1.875,4s0,2.375-1.375,3.5s-0.75,1.375-1.625,2.625s-3.75,5-6,5.125s-5.375,3.75-7.25,6  s-1.5,2.375-1.25,2.75s1.625,2-1.75,1.75s-8.125-3.75-8.125-2.625s6.5,3.75,4.625,5.375c0,0-7.793,2.626-10.125,3.5  c-3,1.125-1-2.875-3-7.5S2.293,49.332,2.293,49.332z"/>
        </svg>
        <svg id="vlieland" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
 width="58.962px" height="40.023px" viewBox="0 0 58.962 40.023" style="enable-background:new 0 0 58.962 40.023;"
 xml:space="preserve">
            <path d="M3.401,31.885c8.167-5.083,20.373-15.15,21.623-16.4  S39.274,4.318,45.691,2.318s5.167-2.417,10-0.917s2.083,1.75,1.083,2.5s-0.583,0.917-2.25,1.083s-4.167-0.25-5.417,1.417  s-3.833,3.333-6.333,4.25s-6.25,2.333-8.417,3.083s-4.833,2.349-5.333,2.924s0.927,3.409,1.177,4.576s-0.176,2-2.093,3.75  s-4.667,2.834-6.083,3.75s0.25,0.416-1.25,2.166s-2.583,3.667-3.917,4.167s-1.833-0.5-5,0s-3.833-0.333-5,1.667s-0.834,3-2.667,2.75  s-3.333,0.5-3.667-3.417S3.401,31.885,3.401,31.885z"/>
        </svg>
        <svg id="terschelling" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
 width="93.98px" height="39.433px" viewBox="0 0 93.98 39.433" style="enable-background:new 0 0 93.98 39.433;"
 xml:space="preserve">
            <path d="M22.466,16.895c34.5-8.333,39.667-9.667,47.667-12.667  s10.333-4,14.667-3.667s6.667,1,7.833,2.667s1.099,4.406-0.026,2.516s-1.516-2.031-1.813-1.484s-1.672,2.234-2.469,2.719  s-2.953,0.578-4.063,0.391s-1.547-0.344-2.422,0.625s-0.984,1.047-1.891,1.672s-5.063,2.234-5.531,2.609s-1,0.656-1.094,1.281  s1.797,1.484,1.984,1.359s0.531,0.156-1.047,1s-4.75,1.75-7.984,1.344s-6.813-0.109-9.313,0.281s-4.984,1.469-7.516,3.891  s-3.422,3.859-5.344,4.172s-1.891,0.203-2.656,0.703s-0.609,0.594-1.609,0.75s-1.188-1.094-1.859-0.922s-1,0.891-0.953,1.109  s0.078,1.016-1.219,0.938s-1.969-0.375-1.984-0.172s-0.063,1.125-0.234,1.359s-1.203,0.984-3.641,0.141s-1.297,0.188-2.328,0.031  s-1.078-0.172-1.875-0.281s-0.656-0.203-1.906,1.234s-2.125,1.406-2.938,1.172s-5.359-0.078-4.5,2.672s-2.141,1.719-2.844,2.453  s-0.359,2.188-4.266,2.141s-3.828-0.266-4.75-1.172c0,0-1.719-0.547-2.922-0.719s-1.516-1.453-0.563-2.953s3.281-5.109,5.391-7.234  s2.875-5.837,7.172-7.137S22.466,16.895,22.466,16.895z"/>
        </svg>
        <svg id="ameland" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
 width="82.593px" height="19.242px" viewBox="0 0 82.593 19.242" style="enable-background:new 0 0 82.593 19.242;"
 xml:space="preserve">
            <path d="M22.136,2.911c3.166,1.583,5.084,2.667,16,1.25s13-1.667,19.083-2  c0,0,4.417-0.417,10.5-0.667s9.703-0.38,12.109,0.323S82,2.348,82.078,3.333s-0.125,1.672-1.484,2.313s-1.516,1.297-4.703,1.125  s3.939-1.921-7.438-1.094c-2.651,0.193-1.817,0.943-6.109,2.318s-2.251,0.541-4.292,0.458s2.626,1.042-2.166,1.5  s-10.823,3.49-13.698,3.208s-12.281-1.438-14.094-2.063s-2.688,0.438-3.188,1.688s-3.729,3.125-6.063,3.875s-0.542,1-5.375,1.917  s-8.124-2.208-10.333-3.792S0.302,9.744,0.552,8.202s3.166-5,4.5-6.083s2.376-1.875,6.959-1.542s3.5,0.458,5.625,0.583  S22.136,2.911,22.136,2.911z"/>
        </svg>
        <svg id="schiermonnikoog" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
 width="56.631px" height="26.88px" viewBox="0 0 56.631 26.88" style="enable-background:new 0 0 56.631 26.88;"
 xml:space="preserve">
            <path d="M10.253,4.854c9.75-1.083,10.916-0.75,17.083-0.75  s11.917-1.167,13.417-1.75s4.667,0.25,6.25-0.75s2.749-1,5.166-1.083s3.584,0.083,3.917,0.583s-1.251,2.333-1.917,3  s-2.334,1.417-3.75,1.75s-2.75-1.083-6.25,1s-3.75,2.25-5.833,2.5s-2.917,0.083-4,1.75s-1.417,1.917-4.25,3.25  c0,0-4.167,1.083-6.5,1s-4.667,1.333-7.417,1.583s-6-0.083-6.833,0s-1.749-0.25-2.333,2.333s-2.584,4.167-2.834,5.167  s0.25,3-1.75,1.25s-1.832-2.083-1.916-4.25s1.582-1.833,1.666-2.583s-1.584,1.167-1-2.917s0.584-4.083,0.584-4.083  s4.249-4.417,4.666-4.75s0.167-1.083-0.833-0.833s-3,1.917-2.25,0.167s1.25-2.083,4.25-1.583S10.253,4.854,10.253,4.854z"/>
        </svg>
    </section>
    <section id="clouds">
        <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" version="1.1" id="Layer_1" x="0px" y="0px" width="192.5" height="141.5" viewBox="0 0 192.5 141.5" enable-background="new 0 0 1400 980" xml:space="preserve" sodipodi:docname="1.svg" inkscape:version="0.92.1 r" ><metadata id="metadata4732"><rdf:rdf><cc:work rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"></dc:type><dc:title></dc:title></cc:work></rdf:rdf></metadata><defs id="defs4730"></defs><sodipodi:namedview pagecolor="#ffffff" bordercolor="#666666" borderopacity="1" objecttolerance="10" gridtolerance="10" guidetolerance="10" inkscape:pageopacity="0" inkscape:pageshadow="2" inkscape:window-width="1920" inkscape:window-height="1080" id="namedview4728" showgrid="false" fit-margin-top="0" fit-margin-left="0" fit-margin-right="0" fit-margin-bottom="0" inkscape:zoom="0.84285714" inkscape:cx="-475.54324" inkscape:cy="-262.29337" inkscape:window-x="0" inkscape:window-y="0" inkscape:window-maximized="0" inkscape:current-layer="Layer_1"></sodipodi:namedview><g id="g4683" style="opacity:0.4" transform="translate(-1145.289,-63.854)"><g id="g4681"><path d="m 1337.789,148.763 c 0,-16.458 -12.175,-30.065 -28.009,-32.324 10e-4,-0.112 0.01,-0.223 0.01,-0.335 0,-17.535 -14.215,-31.75 -31.75,-31.75 -3.229,0 -6.342,0.485 -9.277,1.381 -4.98,-8.878 -14.478,-14.881 -25.382,-14.881 -12.686,0 -23.469,8.123 -27.448,19.449 -2.709,-0.935 -5.615,-1.449 -8.643,-1.449 -14.636,0 -26.5,11.864 -26.5,26.5 0,0.004 0,0.008 0,0.013 -0.167,-0.003 -0.332,-0.013 -0.5,-0.013 -14.912,0 -27,12.088 -27,27 0,14.912 12.088,27 27,27 0.01,0 0.017,0 0.025,0 -0.012,0.333 -0.025,0.665 -0.025,1 0,15.464 12.536,28 28,28 7.661,0 14.602,-3.08 19.657,-8.066 4.838,4.973 11.597,8.066 19.082,8.066 4.272,0 8.307,-1.012 11.885,-2.8 6.14,6.058 14.569,9.8 23.876,9.8 15.918,0 29.277,-10.941 32.979,-25.713 12.812,-4.413 22.021,-16.566 22.021,-30.878 z" id="path4667" inkscape:connector-curvature="0" style="fill:#00bcd5"></path></g></g><g id="g4725" transform="translate(-1145.289,-63.854)"><path d="m 1329.789,141.763 c 0,-16.458 -12.175,-30.065 -28.009,-32.324 10e-4,-0.112 0.01,-0.223 0.01,-0.335 0,-17.535 -14.215,-31.75 -31.75,-31.75 -3.229,0 -6.342,0.485 -9.277,1.381 -4.98,-8.878 -14.478,-14.881 -25.382,-14.881 -12.686,0 -23.469,8.123 -27.448,19.449 -2.709,-0.935 -5.615,-1.449 -8.643,-1.449 -14.636,0 -26.5,11.864 -26.5,26.5 0,0.004 0,0.008 0,0.013 -0.167,-0.003 -0.332,-0.013 -0.5,-0.013 -14.912,0 -27,12.088 -27,27 0,14.912 12.088,27 27,27 0.01,0 0.017,0 0.025,0 -0.012,0.333 -0.025,0.665 -0.025,1 0,15.464 12.536,28 28,28 7.661,0 14.602,-3.08 19.657,-8.066 4.838,4.973 11.597,8.066 19.082,8.066 4.272,0 8.307,-1.012 11.885,-2.8 6.14,6.058 14.569,9.8 23.876,9.8 15.918,0 29.277,-10.941 32.979,-25.713 12.812,-4.413 22.021,-16.566 22.021,-30.878 z" id="path4711" inkscape:connector-curvature="0" style="fill:#ffffff"></path></g></svg>
        <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" version="1.1" id="Layer_1" x="0px" y="0px" width="192.5" height="141.5" viewBox="0 0 192.5 141.5" enable-background="new 0 0 1400 980" xml:space="preserve" sodipodi:docname="1.svg" inkscape:version="0.92.1 r" ><metadata id="metadata4732"><rdf:rdf><cc:work rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"></dc:type><dc:title></dc:title></cc:work></rdf:rdf></metadata><defs id="defs4730"></defs><sodipodi:namedview pagecolor="#ffffff" bordercolor="#666666" borderopacity="1" objecttolerance="10" gridtolerance="10" guidetolerance="10" inkscape:pageopacity="0" inkscape:pageshadow="2" inkscape:window-width="1920" inkscape:window-height="1080" id="namedview4728" showgrid="false" fit-margin-top="0" fit-margin-left="0" fit-margin-right="0" fit-margin-bottom="0" inkscape:zoom="0.84285714" inkscape:cx="-475.54324" inkscape:cy="-262.29337" inkscape:window-x="0" inkscape:window-y="0" inkscape:window-maximized="0" inkscape:current-layer="Layer_1"></sodipodi:namedview><g id="g4683" style="opacity:0.4" transform="translate(-1145.289,-63.854)"><g id="g4681"><path d="m 1337.789,148.763 c 0,-16.458 -12.175,-30.065 -28.009,-32.324 10e-4,-0.112 0.01,-0.223 0.01,-0.335 0,-17.535 -14.215,-31.75 -31.75,-31.75 -3.229,0 -6.342,0.485 -9.277,1.381 -4.98,-8.878 -14.478,-14.881 -25.382,-14.881 -12.686,0 -23.469,8.123 -27.448,19.449 -2.709,-0.935 -5.615,-1.449 -8.643,-1.449 -14.636,0 -26.5,11.864 -26.5,26.5 0,0.004 0,0.008 0,0.013 -0.167,-0.003 -0.332,-0.013 -0.5,-0.013 -14.912,0 -27,12.088 -27,27 0,14.912 12.088,27 27,27 0.01,0 0.017,0 0.025,0 -0.012,0.333 -0.025,0.665 -0.025,1 0,15.464 12.536,28 28,28 7.661,0 14.602,-3.08 19.657,-8.066 4.838,4.973 11.597,8.066 19.082,8.066 4.272,0 8.307,-1.012 11.885,-2.8 6.14,6.058 14.569,9.8 23.876,9.8 15.918,0 29.277,-10.941 32.979,-25.713 12.812,-4.413 22.021,-16.566 22.021,-30.878 z" id="path4667" inkscape:connector-curvature="0" style="fill:#00bcd5"></path></g></g><g id="g4725" transform="translate(-1145.289,-63.854)"><path d="m 1329.789,141.763 c 0,-16.458 -12.175,-30.065 -28.009,-32.324 10e-4,-0.112 0.01,-0.223 0.01,-0.335 0,-17.535 -14.215,-31.75 -31.75,-31.75 -3.229,0 -6.342,0.485 -9.277,1.381 -4.98,-8.878 -14.478,-14.881 -25.382,-14.881 -12.686,0 -23.469,8.123 -27.448,19.449 -2.709,-0.935 -5.615,-1.449 -8.643,-1.449 -14.636,0 -26.5,11.864 -26.5,26.5 0,0.004 0,0.008 0,0.013 -0.167,-0.003 -0.332,-0.013 -0.5,-0.013 -14.912,0 -27,12.088 -27,27 0,14.912 12.088,27 27,27 0.01,0 0.017,0 0.025,0 -0.012,0.333 -0.025,0.665 -0.025,1 0,15.464 12.536,28 28,28 7.661,0 14.602,-3.08 19.657,-8.066 4.838,4.973 11.597,8.066 19.082,8.066 4.272,0 8.307,-1.012 11.885,-2.8 6.14,6.058 14.569,9.8 23.876,9.8 15.918,0 29.277,-10.941 32.979,-25.713 12.812,-4.413 22.021,-16.566 22.021,-30.878 z" id="path4711" inkscape:connector-curvature="0" style="fill:#ffffff"></path></g></svg>
        <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" version="1.1" id="Layer_1" x="0px" y="0px" width="192.5" height="141.5" viewBox="0 0 192.5 141.5" enable-background="new 0 0 1400 980" xml:space="preserve" sodipodi:docname="1.svg" inkscape:version="0.92.1 r" ><metadata id="metadata4732"><rdf:rdf><cc:work rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"></dc:type><dc:title></dc:title></cc:work></rdf:rdf></metadata><defs id="defs4730"></defs><sodipodi:namedview pagecolor="#ffffff" bordercolor="#666666" borderopacity="1" objecttolerance="10" gridtolerance="10" guidetolerance="10" inkscape:pageopacity="0" inkscape:pageshadow="2" inkscape:window-width="1920" inkscape:window-height="1080" id="namedview4728" showgrid="false" fit-margin-top="0" fit-margin-left="0" fit-margin-right="0" fit-margin-bottom="0" inkscape:zoom="0.84285714" inkscape:cx="-475.54324" inkscape:cy="-262.29337" inkscape:window-x="0" inkscape:window-y="0" inkscape:window-maximized="0" inkscape:current-layer="Layer_1"></sodipodi:namedview><g id="g4683" style="opacity:0.4" transform="translate(-1145.289,-63.854)"><g id="g4681"><path d="m 1337.789,148.763 c 0,-16.458 -12.175,-30.065 -28.009,-32.324 10e-4,-0.112 0.01,-0.223 0.01,-0.335 0,-17.535 -14.215,-31.75 -31.75,-31.75 -3.229,0 -6.342,0.485 -9.277,1.381 -4.98,-8.878 -14.478,-14.881 -25.382,-14.881 -12.686,0 -23.469,8.123 -27.448,19.449 -2.709,-0.935 -5.615,-1.449 -8.643,-1.449 -14.636,0 -26.5,11.864 -26.5,26.5 0,0.004 0,0.008 0,0.013 -0.167,-0.003 -0.332,-0.013 -0.5,-0.013 -14.912,0 -27,12.088 -27,27 0,14.912 12.088,27 27,27 0.01,0 0.017,0 0.025,0 -0.012,0.333 -0.025,0.665 -0.025,1 0,15.464 12.536,28 28,28 7.661,0 14.602,-3.08 19.657,-8.066 4.838,4.973 11.597,8.066 19.082,8.066 4.272,0 8.307,-1.012 11.885,-2.8 6.14,6.058 14.569,9.8 23.876,9.8 15.918,0 29.277,-10.941 32.979,-25.713 12.812,-4.413 22.021,-16.566 22.021,-30.878 z" id="path4667" inkscape:connector-curvature="0" style="fill:#00bcd5"></path></g></g><g id="g4725" transform="translate(-1145.289,-63.854)"><path d="m 1329.789,141.763 c 0,-16.458 -12.175,-30.065 -28.009,-32.324 10e-4,-0.112 0.01,-0.223 0.01,-0.335 0,-17.535 -14.215,-31.75 -31.75,-31.75 -3.229,0 -6.342,0.485 -9.277,1.381 -4.98,-8.878 -14.478,-14.881 -25.382,-14.881 -12.686,0 -23.469,8.123 -27.448,19.449 -2.709,-0.935 -5.615,-1.449 -8.643,-1.449 -14.636,0 -26.5,11.864 -26.5,26.5 0,0.004 0,0.008 0,0.013 -0.167,-0.003 -0.332,-0.013 -0.5,-0.013 -14.912,0 -27,12.088 -27,27 0,14.912 12.088,27 27,27 0.01,0 0.017,0 0.025,0 -0.012,0.333 -0.025,0.665 -0.025,1 0,15.464 12.536,28 28,28 7.661,0 14.602,-3.08 19.657,-8.066 4.838,4.973 11.597,8.066 19.082,8.066 4.272,0 8.307,-1.012 11.885,-2.8 6.14,6.058 14.569,9.8 23.876,9.8 15.918,0 29.277,-10.941 32.979,-25.713 12.812,-4.413 22.021,-16.566 22.021,-30.878 z" id="path4711" inkscape:connector-curvature="0" style="fill:#ffffff"></path></g></svg>
        <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" version="1.1" id="Layer_1" x="0px" y="0px" width="211.472" height="157.27299" viewBox="0 0 211.472 157.27299" enable-background="new 0 0 1400 980" xml:space="preserve" sodipodi:docname="2.svg" inkscape:version="0.92.1 r" ><metadata id="metadata4732"><rdf:rdf><cc:work rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"></dc:type><dc:title></dc:title></cc:work></rdf:rdf></metadata><defs id="defs4730"></defs><sodipodi:namedview pagecolor="#ffffff" bordercolor="#666666" borderopacity="1" objecttolerance="10" gridtolerance="10" guidetolerance="10" inkscape:pageopacity="0" inkscape:pageshadow="2" inkscape:window-width="1920" inkscape:window-height="1080" id="namedview4728" showgrid="false" inkscape:zoom="0.84285714" inkscape:cx="649.72489" inkscape:cy="260.08824" inkscape:window-x="0" inkscape:window-y="0" inkscape:window-maximized="0" inkscape:current-layer="Layer_1" fit-margin-top="0" fit-margin-left="0" fit-margin-right="0" fit-margin-bottom="0"></sodipodi:namedview><g id="g4683" style="opacity:0.4" transform="translate(-68.665,-521.711)"><g id="g4681"><path d="m 229.269,561.174 c -8.535,0 -16.574,2.109 -23.638,5.826 -1.284,-21.361 -19.007,-38.289 -40.69,-38.289 -22.518,0 -40.771,18.256 -40.771,40.775 0,0.703 0.017,1.402 0.052,2.096 -26.548,1.709 -47.557,23.77 -47.557,50.75 0,28.092 22.774,50.865 50.867,50.865 9.729,0 18.817,-2.734 26.545,-7.471 6.753,8.102 16.913,13.258 28.284,13.258 13.596,0 25.44,-7.389 31.816,-18.354 4.768,1.48 9.836,2.277 15.092,2.277 28.094,0 50.868,-22.773 50.868,-50.867 0,-28.094 -22.774,-50.866 -50.868,-50.866 z" id="path4653" inkscape:connector-curvature="0" style="fill:#00bcd5"></path></g></g><g id="g4725" transform="translate(-68.665,-521.711)"><path d="m 221.269,554.174 c -8.535,0 -16.574,2.109 -23.638,5.826 -1.284,-21.361 -19.007,-38.289 -40.69,-38.289 -22.518,0 -40.771,18.256 -40.771,40.775 0,0.703 0.017,1.402 0.052,2.096 -26.548,1.709 -47.557,23.77 -47.557,50.75 0,28.092 22.774,50.865 50.867,50.865 9.729,0 18.817,-2.734 26.545,-7.471 6.753,8.102 16.913,13.258 28.284,13.258 13.596,0 25.44,-7.389 31.816,-18.354 4.768,1.48 9.836,2.277 15.092,2.277 28.094,0 50.868,-22.773 50.868,-50.867 0,-28.094 -22.774,-50.866 -50.868,-50.866 z" id="path4697" inkscape:connector-curvature="0" style="fill:#ffffff"></path></g></svg>
        <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" version="1.1" id="Layer_1" x="0px" y="0px" width="211.472" height="157.27299" viewBox="0 0 211.472 157.27299" enable-background="new 0 0 1400 980" xml:space="preserve" sodipodi:docname="2.svg" inkscape:version="0.92.1 r" ><metadata id="metadata4732"><rdf:rdf><cc:work rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"></dc:type><dc:title></dc:title></cc:work></rdf:rdf></metadata><defs id="defs4730"></defs><sodipodi:namedview pagecolor="#ffffff" bordercolor="#666666" borderopacity="1" objecttolerance="10" gridtolerance="10" guidetolerance="10" inkscape:pageopacity="0" inkscape:pageshadow="2" inkscape:window-width="1920" inkscape:window-height="1080" id="namedview4728" showgrid="false" inkscape:zoom="0.84285714" inkscape:cx="649.72489" inkscape:cy="260.08824" inkscape:window-x="0" inkscape:window-y="0" inkscape:window-maximized="0" inkscape:current-layer="Layer_1" fit-margin-top="0" fit-margin-left="0" fit-margin-right="0" fit-margin-bottom="0"></sodipodi:namedview><g id="g4683" style="opacity:0.4" transform="translate(-68.665,-521.711)"><g id="g4681"><path d="m 229.269,561.174 c -8.535,0 -16.574,2.109 -23.638,5.826 -1.284,-21.361 -19.007,-38.289 -40.69,-38.289 -22.518,0 -40.771,18.256 -40.771,40.775 0,0.703 0.017,1.402 0.052,2.096 -26.548,1.709 -47.557,23.77 -47.557,50.75 0,28.092 22.774,50.865 50.867,50.865 9.729,0 18.817,-2.734 26.545,-7.471 6.753,8.102 16.913,13.258 28.284,13.258 13.596,0 25.44,-7.389 31.816,-18.354 4.768,1.48 9.836,2.277 15.092,2.277 28.094,0 50.868,-22.773 50.868,-50.867 0,-28.094 -22.774,-50.866 -50.868,-50.866 z" id="path4653" inkscape:connector-curvature="0" style="fill:#00bcd5"></path></g></g><g id="g4725" transform="translate(-68.665,-521.711)"><path d="m 221.269,554.174 c -8.535,0 -16.574,2.109 -23.638,5.826 -1.284,-21.361 -19.007,-38.289 -40.69,-38.289 -22.518,0 -40.771,18.256 -40.771,40.775 0,0.703 0.017,1.402 0.052,2.096 -26.548,1.709 -47.557,23.77 -47.557,50.75 0,28.092 22.774,50.865 50.867,50.865 9.729,0 18.817,-2.734 26.545,-7.471 6.753,8.102 16.913,13.258 28.284,13.258 13.596,0 25.44,-7.389 31.816,-18.354 4.768,1.48 9.836,2.277 15.092,2.277 28.094,0 50.868,-22.773 50.868,-50.867 0,-28.094 -22.774,-50.866 -50.868,-50.866 z" id="path4697" inkscape:connector-curvature="0" style="fill:#ffffff"></path></g></svg>
        <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" version="1.1" id="Layer_1" x="0px" y="0px" width="211.472" height="157.27299" viewBox="0 0 211.472 157.27299" enable-background="new 0 0 1400 980" xml:space="preserve" sodipodi:docname="2.svg" inkscape:version="0.92.1 r" ><metadata id="metadata4732"><rdf:rdf><cc:work rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"></dc:type><dc:title></dc:title></cc:work></rdf:rdf></metadata><defs id="defs4730"></defs><sodipodi:namedview pagecolor="#ffffff" bordercolor="#666666" borderopacity="1" objecttolerance="10" gridtolerance="10" guidetolerance="10" inkscape:pageopacity="0" inkscape:pageshadow="2" inkscape:window-width="1920" inkscape:window-height="1080" id="namedview4728" showgrid="false" inkscape:zoom="0.84285714" inkscape:cx="649.72489" inkscape:cy="260.08824" inkscape:window-x="0" inkscape:window-y="0" inkscape:window-maximized="0" inkscape:current-layer="Layer_1" fit-margin-top="0" fit-margin-left="0" fit-margin-right="0" fit-margin-bottom="0"></sodipodi:namedview><g id="g4683" style="opacity:0.4" transform="translate(-68.665,-521.711)"><g id="g4681"><path d="m 229.269,561.174 c -8.535,0 -16.574,2.109 -23.638,5.826 -1.284,-21.361 -19.007,-38.289 -40.69,-38.289 -22.518,0 -40.771,18.256 -40.771,40.775 0,0.703 0.017,1.402 0.052,2.096 -26.548,1.709 -47.557,23.77 -47.557,50.75 0,28.092 22.774,50.865 50.867,50.865 9.729,0 18.817,-2.734 26.545,-7.471 6.753,8.102 16.913,13.258 28.284,13.258 13.596,0 25.44,-7.389 31.816,-18.354 4.768,1.48 9.836,2.277 15.092,2.277 28.094,0 50.868,-22.773 50.868,-50.867 0,-28.094 -22.774,-50.866 -50.868,-50.866 z" id="path4653" inkscape:connector-curvature="0" style="fill:#00bcd5"></path></g></g><g id="g4725" transform="translate(-68.665,-521.711)"><path d="m 221.269,554.174 c -8.535,0 -16.574,2.109 -23.638,5.826 -1.284,-21.361 -19.007,-38.289 -40.69,-38.289 -22.518,0 -40.771,18.256 -40.771,40.775 0,0.703 0.017,1.402 0.052,2.096 -26.548,1.709 -47.557,23.77 -47.557,50.75 0,28.092 22.774,50.865 50.867,50.865 9.729,0 18.817,-2.734 26.545,-7.471 6.753,8.102 16.913,13.258 28.284,13.258 13.596,0 25.44,-7.389 31.816,-18.354 4.768,1.48 9.836,2.277 15.092,2.277 28.094,0 50.868,-22.773 50.868,-50.867 0,-28.094 -22.774,-50.866 -50.868,-50.866 z" id="path4697" inkscape:connector-curvature="0" style="fill:#ffffff"></path></g></svg>
    </section>
    <div id="form">
        <form method="POST" action="">
            <div id="top">
                <div id="datum">
                    <input type="text" class="datepicker" placeholder="Van">
                    <input type="text" class="datepicker" placeholder="Tot">
                </div>
            </div>
            <div id="bottom">
                <div id="checkboxes">
                    {% for cat in cats %}
                        <div>{{ cat.name.title() }}<input name="{{ cat.id }}" class="check" type="checkbox"/></div>
                    {% endfor %}
                </div>
            </div>
        </form>	
    </div>
{% endblock %}
