{% macro inputl(field) %}
{{ field(placeholder=field.label.text) }}
{% endmacro %}
{% macro input(field) %}
<div class="form-field">
    <div class="form-label">{{ field.label.text }}</div>
    <div class="form-data">{{ field() }}</div>
</div>
{% endmacro %}
{% macro input_img(field) %}
<div class="form-field">
    <div class="form-label img-hover" data-img="test">{{ field.label.text }}</div>
    <div class="form-data">{{ field() }}</div>
</div>
{% endmacro %}
{% macro set_color(col) %}
style="background-color: {{ col }};"
{% endmacro %}
