{% import 'macros.html' as macros %}
{% extends 'base.html' %}
{% block title %}{{ o.name.title() }} op {{ o.island.name.title() }}{% endblock %}
{% block statics %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}
{% block content %}
    <header id="object_info" {{ macros.set_color(o.island.color) }}>
        <div>{{ o.island.name.title() }}{% if o.category %} | Categorie: {{ o.category.name.title() }}{% endif %}</div>
        <h1>{{ o.name }}</h1>
        <div>
            {% if o.always %}
                Altijd beschikbaar
            {% else %}
                Beschikbaar van {{ o.date_from|datetimef }} tot {{ o.date_to|datetimef }}
            {% endif %}
    </header>
    <div id="object-wrapper">
        {% if o.img %}
            <!-- <img class="headimg" src="{{ url_for('img_uploaded', img=o.img) }}" /> -->
            <div class="headimg" style="background-image: url({{ url_for('img_uploaded', img=o.img) }})"></div>
        {% endif %}
        <div class="info-text">
            <div>
                {{ o.desc|markdown }}
            </div>
            <div>

            </div>
        </div>
    </div>
{% endblock %}
