{% import 'macros.html' as macros %}
{% extends 'base.html' %}
{% block title %}{{ isl.name.title() }}{% endblock %}
{% block statics %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}
{% block content %}
<header id="act">
		<div id="boven">
			<h1 id="title">{{ isl.name.title() }}</h1>
			<div id="kaart">
                {% if isl.img %}
                    <div id="eiland-img" style="background-image: url('{{ url_for('img_uploaded', img=isl.img) }}')">
                            <!-- <img  id="eiland-img" src="{{ url_for('img_uploaded', img=isl.img) }}"> -->
                        <!-- texel kan ook worden vervangen door de ander eilanden-->
                    </div>
                {% endif %}
			</div>
			<div id="info">
				
				<div id="text">
                    {{ isl.desc|markdown }}
				
                    <input type="submit" class="back-submit" id="leesmeer" value="Lees meer" {{ macros.set_color(isl.color) }}/>
				
				</div>
				<div class="button-back"></div>
                <div class="aanwezig {{ 'goed' if isl.airplane else 'slecht'}}">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="40px" height="40px"
                     viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M482,363.333c2.667,0.666,5,0.332,7-1c2-1.334,3-3.334,3-6v-36c0-6.668-3-12-9-16l-187-111
                                    c-6-3.334-9-8.668-9-16v-125c0-6.667-1.333-13-4-19c-7.333-18.667-17.667-29-31-31c-2-0.667-4-1-6-1s-4.333,0.333-7,1
                                    c-0.667,0-1.5,0.167-2.5,0.5s-2.167,0.833-3.5,1.5c-4.667,1.333-9,4.333-13,9s-7,9-9,13l-3,7c-2,6-3,12.333-3,19v125
                                    c0,7.333-3,12.667-9,16l-187,111c-6,4-9,9.332-9,16v36c0,2.666,1,4.666,3,6c2,1.332,4.333,1.666,7,1l185-60
                                    c2.667-1.334,5-1.168,7,0.5c2,1.666,3,3.832,3,6.5v97c0,7.334-2.667,13-8,17l-25,18c-5.333,4-8,9.666-8,17v24c0,2.666,1,4.666,3,6
                                    s4.333,1.666,7,1l62-18c6.667-2,13.333-2,20,0l62,18c2.667,0.666,5,0.334,7-1s3-3.334,3-6v-24c0-7.334-2.667-13-8-17l-25-18
                                    c-5.333-4-8-9.666-8-17v-97c0-3.334,1-5.668,3-7c2-1.334,4.333-1.334,7,0L482,363.333z"/>
                                </g>
                            </g>
                    </svg>
				</div>
				<div class="aanwezig bottom {{ 'goed' if isl.car else 'slecht'}}">
					<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="40px" height="40px" viewBox="0 0 39.055 39.054" style="enable-background:new 0 0 39.055 39.054;"
                     xml:space="preserve"> 
                        <g>
                            <g>
                                <path d="M38.831,14.26c-0.191-0.233-0.476-0.369-0.775-0.369h-3.801c-0.938-2.474-2.16-4.898-3.549-5.813
                                    c-4.805-3.161-17.55-3.161-22.355,0c-1.39,0.916-2.607,3.343-3.55,5.813H1c-0.302,0-0.586,0.136-0.775,0.369
                                    c-0.19,0.232-0.266,0.539-0.204,0.834l0.563,2.728c0.096,0.465,0.506,0.797,0.979,0.797h1.126
                                    c-1.087,1.254-1.614,2.833-1.621,4.413c-0.007,1.952,0.734,3.716,2.089,4.964c0.015,0.013,0.03,0.022,0.044,0.035v3.817
                                    c0,0.827,0.672,1.5,1.5,1.5h3.506c0.828,0,1.5-0.673,1.5-1.5v-1.534h19.641v1.534c0,0.827,0.672,1.5,1.5,1.5h3.506
                                    c0.826,0,1.5-0.673,1.5-1.5v-3.742c1.438-1.317,2.125-3.129,2.134-4.938c0.006-1.634-0.545-3.271-1.696-4.551h1.201
                                    c0.475,0,0.885-0.332,0.979-0.798l0.564-2.727C39.094,14.799,39.021,14.494,38.831,14.26z M9.998,10.583
                                    c3.83-2.521,15.229-2.521,19.057,0c0.744,0.488,1.701,2.461,2.578,4.877H7.422C8.297,13.045,9.254,11.073,9.998,10.583z
                                     M5.512,23.408c0-1.63,1.322-2.95,2.951-2.95c1.631,0,2.951,1.32,2.951,2.95s-1.32,2.951-2.951,2.951
                                    C6.834,26.359,5.512,25.038,5.512,23.408z M30.631,26.359c-1.629,0-2.951-1.321-2.951-2.951s1.322-2.95,2.951-2.95
                                    c1.631,0,2.951,1.32,2.951,2.95S32.26,26.359,30.631,26.359z"/>
                            </g>
                        </g>
                    </svg>
				</div>
			</div>
		</div>
	</header>
	<div id="scheiding" {{ macros.set_color(isl.color) }}></div>
	<div id="activiteiten">
        {% for o in objects %}
            {% if o.img %}
                <a href="{{ url_for('object', oid=o.id) + o.name }}" class="container">
                    <div class="pic" style="background-image: url('{{ url_for('img_uploaded', img=o.img) }}');"></div>
                    <div class="icon" {{ macros.set_color(isl.color) }}>
                        <img src="{{ url_for('img_uploaded', img=o.category.img) }}">
                    </div>
                    <!--container met image-->
                    <div class="act-title" {{ macros.set_color(isl.color) }}>{{ o.name }}</div>
                    <div class="text">
                        {{ o.desc|markdown|truncate(90) }}
                    </div>
                </a>
            {% else %}
                <a href="{{ url_for('object', oid=o.id) + o.name }}" class="container">
                    <div class="icon" {{ macros.set_color(isl.color) }}>
                        <img src="{{ url_for('img_uploaded', img=o.category.img) }}">
                    </div>
                    <!--container zonder image-->
                    <div class="act-title" {{ macros.set_color(isl.color) }}>{{ o.name }}</div>
                    <div class="text-nopic">
                        {{ o.desc|markdown|truncate(400) }}
                    </div>
                </a>
            {% endif %}
        {% endfor %}
	</div>
{% endblock %}
