{% import 'macros.html' as macros %}
{% extends 'base.html' %}
{% block title %}Eilanden Project{% endblock %}
{% block statics %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}
{% block content %}
    <div class="wrapper">
        <div id="title"><h1>{{ o.name }}</h1></div>

        {% if o.img %}
            <div id="pic-frame" class="home-pic" style="background-image: url('{{ url_for('img_uploaded', img=o.img) }}');"></div>
        {% endif %}
        <div class="info-text">
            {{ o.desc|markdown }}
        </div>
    </div>
{% endblock %}
